.urltracker-checkbox-page-size {
	width: auto;
	margin: 0;
}

.urltracker-label-page-size {
	position: relative;
	top: 3px;
	margin-right: 10px;
}

.urltracker-sub-header-button > .umb-button {
	margin-left: 0;
}

form[name="UrlTrackerEntryForm"] input,
form[name="UrlTrackerEntryForm"] select {
	width: 100%;
}

form[name="UrlTrackerEntryForm"] select:disabled {
	opacity: 1;
}


.urltracker-pagination,
.urltracker-page-size {
	display: inline-block;
}

.urltracker-page-size {
	float: right;
	margin: 20px 0;
}

.urltracker-form-box > input {
	margin-bottom: 0;
}

.urltracker-form-box input[type="checkbox"] {
	margin: 0 5px 0 15px;
}

.urltracker-form-box.search-box {
	position: relative;
}

.urltracker-form-box.search-box > input {
	padding-left: 25px !important;
}

.urltracker-form-box.search-box > i.icon-search {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 6px;
	transform: translateY(-50%);
	color: #d8d7d9;
}

.urltracker-filters {
	padding-right: 10px !important;
}

.urltracker-body .umb-table {
	box-sizing: content-box;
}

.urltracker-body a:hover > i {
	text-decoration: none;
}

.urltracker-body .circle {
	display: inline-block;
	position: relative;
	width: 165px;
	height: 165px;
	background-color: #ff0069;
	border-radius: 50%;
}

.urltracker-body .circle > .circle-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.urltracker-body .circle > .circle-content > .circle-title {
	display: block;
	margin-bottom: 5px;
	font-size: 2.2rem;
	font-weight: bold;
	color: white;
}

.urltracker-body .circle > .circle-content > .circle-subtitle {
	display: block;
	margin-top: 10px;
	font-size: 1rem;
	color: white;
}

.urltracker-body .icon-eye {
	font-size: 20px;
	position: relative;
	top: 4px;
}

.urltracker-body .top-bar {
	position: relative;
}

.urltracker-body .top-bar:before {
	content: '';
	position: absolute;
	top: -20px;
	left: 50%;
	width: 430px;
	height: 160px;
	transform: translateX(-50%);
	background-color: #ffc800;
	border-bottom-left-radius: 300px;
	border-bottom-right-radius: 300px;
}

/*Last tab item (info tab)*/
.urltracker-body .umb-tabs-nav > li:nth-child(4) {
	float: right;
}

.urltracker-dashboard-table .umb-table-cell:first-of-type {
	flex: 1 1 5%;
	margin: auto 0;
	padding: 6px 16px;
}

.urltracker-dashboard-table .col-old-url {
	flex: 2 2 5%;
}

.urltracker-dashboard-table .col-occurrences {
	flex: .5 .5 5%;
}

.urltracker-dashboard-table .col-icons {
	flex: 1.5;
	justify-content: flex-end;
}

.urltracker-table-button button {
	font-size: 12px;
	padding: 0 5px;
}

.urltracker-table-button.ic-color button {
	background-color: #ff0069;
}

.urltracker-sub-header-button.ic-color button {
	background-color: #ff0069;
}

.urltracker-table-button.ic-color button:hover,
.urltracker-table-button.ic-color button:focus,
.urltracker-table-button.ic-color button:active {
	background-color: #d6065c;
}

.urltracker-dashboard-table.redirects-table .col-site {
	flex: .3 .3 5%;
}

.urltracker-dashboard-table .col-old-url {
	flex: 3.5 3.5 5% !important;
}

.urltracker-body .col-icons > i {
	font-size: 18px;
	padding: 5px;
	cursor: pointer;
}

.urltracker-body .col-icons > i:hover {
	color: #000000;
}

.urltracker-large-table .umb-table-row:focus,
.urltracker-dashboard-table .umb-table-row:focus {
	outline: none;
}

.urltracker-large-table .col-icons {
	flex: .3;
	justify-content: flex-end;
}

.urltracker-large-table .col-culture {
	flex: .1 .1 5%;
}

.urltracker-large-table.urltracker-notfounds-table .col-icons {
	flex: .7 .7 5%;
}

.urltracker-large-table .col-date,
.urltracker-large-table .col-site {
	flex: .3 .3 5%;
}

.urltracker-large-table .col-notes {
	flex: .6 .6 5%;
}

.urltracker-large-table.urltracker-notfounds-table .col-occurrences {
	flex: .55;
}

.urltracker_radio_checked ~ .umb-form-check__state .umb-form-check__check {
	border-color: #1b264f !important;
}

.urltracker_radio_checked ~ .umb-form-check__state .umb-form-check__check:before {
	opacity: 1;
	transform: scale(1);
}

.urltracker-large-table .col-new-url > span,
.urltracker-dashboard-table .col-new-url > span {
	padding-right: 35px;
}

.ut-redirect-http-code {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	background-color: #d7d7d8;
	padding: 0px 5px;
	border-radius: 20%;
	color: white;
	font-size: 12px;
}

.urltracker-disabled-text {
	text-align: center;
}

.urltracker-disabled-text h1 {
	font-weight: bold;
	padding-top: 100px;
}

[data-element="urltracker-import-export-overlay"] {
	width: 400px !important;
}

[data-element="urltracker-import-export-overlay"] .umb-overlay-header,
[data-element="urltracker-import-export-overlay"] .umb-overlay-drawer {
	display: none;
}

[data-element="urltracker-import-export-overlay"] .urltracker-submit-import {
	margin-top: 15px;
	float: left;
	background-color: #ff0069;
}

[data-element="urltracker-import-export-overlay"] .umb-card-grid.-two-in-row li {
	flex: 0 0 50%;
	max-width: 50%;
}

[data-element="urltracker-import-export-overlay"] .urltracker-import-export-title {
	padding: 10px 0 20px 0;
	font-weight: bold;
}

.urltracker-import-file {
	margin-top: 15px;
	height: 100px;
}

.urltracker-import-file:hover:disabled {
	border: 1px dashed #bbbabf;
	color: inherit;
}

[data-element="urltracker-import-export-overlay"] .umb-load-indicator {
	z-index: 1;
}

.urltracker-loading-ring {
	display: inline-block;
	position: relative;
	width: 28px;
	height: 28px;
}

.urltracker-loading-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 22px;
	height: 22px;
	margin: 3px;
	border: 3px solid #ff0069;
	border-radius: 50%;
	animation: urltracker-loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #ff0069 transparent transparent transparent;
}

.urltracker-loading-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.urltracker-loading-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.urltracker-loading-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes urltracker-loading-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.urltracker-import .urltracker-loading-ring {
	margin: 18px 0 0 10px;
}

.urltracker-import-export-button {
	padding: 3px 14px;
}

.urltracker-import-export-button > img {
	width: 26px;
}

.urltracker-timeline {
	padding: 0 15px 0 0;
}

.urltracker-timeline .urltracker-timeline-item {
	position: relative;
	display: flex;
}

.urltracker-timeline .urltracker-timeline-figure {
	position: relative;
	padding: .5rem 0;
	font-size: 18px;
	color: #ff0069;
}

.urltracker-timeline .urltracker-timeline-figure:before {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	top: 1rem;
	left: 50%;
	margin-left: -1px;
	border-left: 2px solid rgba(34,34,48,.1);
}

.urltracker-timeline .urltracker-timeline-body {
	width: 100%;
	margin-left: 1.25rem;
	padding: .5rem 0;
}

.urltracker-timeline .urltracker-timeline-body ul {
	margin-left: 16px;
}

.urltracker-timeline .urltracker-timeline-body li {
	margin-bottom: 5px;
}

.urltracker-timeline .urltracker-timeline-header {
	display: flex;
	align-items: flex-start;
}

.urltracker-timeline .urltracker-timeline-header > h5 {
	flex: 1;
	margin: 0 0 5px 0;
}

.urltracker-timeline .urltracker-timeline-date {
	color: #68676b;
}

.urltracker-label {
	padding: 2px 7px;
	border-radius: 12px;
	font-size: 14px;
	color: #fff;
	margin-right: 2px;
}

.urltracker-pink-label {
	background-color: #ff0069;
}

.urltracker-green-label {
	background-color: #299a29;
}

.urltracker-orange-label {
	background-color: #e88836;
}

.urltracker-red-label {
	background-color: #d42054;
}

.urltracker-setting-box {
	box-shadow: 0 1px 3px 1px rgb(0 0 0 / 11%);
}

.urltracker-setting-box p {
	margin-bottom: 0;
}
