.svn
*.suo
*.user
bin
obj
roadmap.txt
TODO.txt
/UrlTracker.nupkg
/.vs
/artifacts
/packages
/TestResults
/test/UrlTracker.Resources.Website/App_Data
/test/UrlTracker.Resources.Website/Smidge/Cache
/test/UrlTracker.Resources.Website/App_Plugins/UrlTracker
/src/UrlTracker.Web/node_modules
/src/UrlTracker.Web/content
/src/UrlTracker.Web/frontend/.build-stamp
/test/UrlTracker.Resources.Website/App_Plugins/uSync
