<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="140ba3b0-11e8-4ed7-9923-9e8be9cbc8e0" Alias="multilingualRoot" Level="1">
  <Info>
    <Name>Multilingual Root</Name>
    <Icon>icon-globe-europe-africa color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>MultilingualRoot</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a7446c2c-827c-4a77-af04-1e237adfc951">MultilingualRoot</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e4369e8d-f925-42bc-b634-7f079b5d1f41" SortOrder="0">multilingualTestPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>