<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="760742b1-c6c9-4a8b-b5d2-270c6b33edb4" Alias="root" Level="1">
  <Info>
    <Name>Root</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Root</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ff829dc7-1282-4c12-a6cd-00c4a1a6c0d9">Root</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cc207a4a-fa34-494f-8710-3cd1964e700d" SortOrder="0">testPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>