<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc207a4a-fa34-494f-8710-3cd1964e700d" Alias="testPage" Level="1">
  <Info>
    <Name>TestPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>TestPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b18aab31-9790-4b75-8ef4-772ff9c68013">TestPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>