<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UrlTrackerManager</title>
</head>
<body>
    @*<umbraco:Macro runat="server" language="cshtml" Alias="UrlTrackerManagerWrapper"></umbraco:Macro>*@
</body>
</html>
