<div ng-controller="UrlTracker.DetailsController as vm">
    <form name="UrlTrackerEntryForm" >
        <umb-editor-view>
                <umb-editor-container>
                <h3>Required</h3>
                <hr />
                <div>
                    <div class="row">
                        <label>Root node: </label>
                        <select ng-model="vm.entry.RedirectRootNodeId">
                            <option ng-repeat="node in vm.allRootNodes" value="{{node.id}}" ng-value="{{node.id}}" >{{node.name}}</option>
                        </select>
                    </div>
                    <div class="row">
                        <div>    
                            <label>Old Url: </label>
                            <input type="text" value="{{vm.entry.OldUrl}}" ng-model="vm.entry.OldUrl" />
                        </div>
                        <div>
                            <label> or Regex: </label>
                            <input type="text" value="{{vm.entry.OldRegex}}" ng-model="vm.entry.OldRegex" />
                        </div>
                    </div>
                    <div class="row">
                            <label>Old Url query string: </label>
                            <input type="text" value="{{vm.entry.OldUrlQueryString}}" ng-model="vm.entry.OldUrlQueryString" />
                    </div>
                    <div class="row">
                            <div>
                                <label>Redirect node: </label>
                                <a href="" ng-if="vm.redirectNode != null" ng-click="vm.openNodePicker()" >{{vm.redirectNode}} </a>
                                <a href="" ng-if="vm.redirectNode == null" ng-click="vm.openNodePicker()" > pick a node</a>
                            </div>
                            <div>    
                                <label> Or redirect URL: </label>
                                <input type="text" value="{{vm.entry.RedirectUrl}}" ng-model="vm.entry.RedirectUrl" />
                            </div>
                    </div>
                </div>
                <h3>Optional</h3>
                <hr />
                <div>
                    <div class="row">
                        <label>Redirect type: </label>
                        <input type="radio" ng-value=301 title="Permanent (301)" ng-model="vm.entry.RedirectHttpCode"/> <label> Permanent (301) </label>
                        <input type="radio" ng-value=302 title="Temporary (302)" ng-model="vm.entry.RedirectHttpCode"/><label> Temporary (302) </label>
                    </div>
                    <div class="row">
                        <label>Forward query string: </label>
                        <input type="checkbox" value="{{vm.entry.OldRegex}}" ng-model="vm.entry.OldRegex" />
                    </div>
                    <div class="row">
                        <label>Force redirect: </label>
                        <input type="checkbox" value="{{vm.entry.ForceRedirect}}" ng-model="vm.entry.ForceRedirect" />
                    </div>
                    <div class="row">
                        <label>Notes: </label>
                        <input type="text" value="{{vm.entry.Notes}}" ng-model="vm.entry.Notes" />
                    </div>
                    <div class="row">
                        Created: {{vm.entry.Inserted}}
                    </div>
                </div>
            </umb-editor-container>
        </umb-editor-view>
    </form>
        <umb-editor-footer>
            <umb-editor-footer-content-left>
                <umb-button
                    type="button"
                    button-style="link"
                    label-key="general_close"
                    shortcut="esc"
                    action="vm.close()">
                </umb-button>
                <umb-button
                    type="button"
                    button-style="action"
                    label-key="general_submit"
                    action="vm.saveChanges()">
                </umb-button>
            </umb-editor-footer-content-left>
        </umb-editor-footer>
</div>