<div ng-controller="UrlTracker.OverviewController as vm">
    <umb-editor-view>
        <umb-editor-container>
            <div class="row">
                <umb-button
                    action="vm.clickCreateButton()"
                    type="button"        
                    button-style="action"
                    state="vm.createButtonState"
                    label="Create"
                    disabled="vm.createButtonState === 'busy'">
                </umb-button>
            </div>
            <div class="row">
                <hr />
                <input type="text" value="Search" disabled />
                <label>Filter: </label>
                <input type="checkbox" value="Automatic entries" disabled/> Automatic entries
                <input type="checkbox" value="Custom Url entries" disabled /> Custom Url entries
                <input type="checkbox" value="Custom Regex entries" disabled /> Custom Regex entries
                <hr />
            </div>
            <div class="umb-table">
                    <div class="umb-table-head">
                        <div class="umb-table-row">
                            <div class="umb-table-cell col-id"><input type="checkbox" ng-click="vm.selectAll"/></div>
                            <div class="umb-table-cell">Site</div>
                            <div class="umb-table-cell">Old URL/ RegEx</div>
						    <div class="umb-table-cell col-destination">New URL</div>
                            <div class="umb-table-cell col-notes">Notes</div>
                            <div class="umb-table-cell col-date">Created</div>
                            <div class="umb-table-cell col-actions"></div>
                        </div>
                    </div>
                    <div class="umb-table-body">
                        <div class="umb-table-row" ng-repeat="item in vm.items">
                            <div class="umb-table-cell col-id"><input type="checkbox" ng-checked="vm.allItemsSelected" ng-click="vm.selectEntry(item)" /></div>
                        
                            <div class="umb-table-cell" ng-click="vm.clickEntry(item)">
                                <span>
                                    {{item.RedirectNodeId}}
                                </span>
                            </div>

                            <div class="umb-table-cell" ng-click="vm.clickEntry(item)">
                                <span ng-if="item.OldUrl">{{item.OldUrl}}</span>
                                <span ng-if="item.OldRexEx">{{item.OldRexEx}}</span>
                            </div>

                            <div class="umb-table-cell col-destination" ng-click="vm.clickEntry(item)">
                                <span>{{item.RedirectUrl}}</span>
                            </div>
                            <div class="umb-table-cell col-notes" ng-click="vm.clickEntry(item)">
                                {{item.Notes}}
                            </div>
                            <div class="umb-table-cell col-date" ng-click="vm.clickEntry(item)">
                            {{item.Inserted | date: 'yyyy-MM-dd HH:mm'}}
                            </div>
                            <div class="umb-table-cell col-actions justify-end">
                                <a href="#" prevent-default="" ng-click="vm.editEntry(item)" class="umb-era-button umb-button--s">Edit</a> &nbsp;| &nbsp; 
                                <a href="#" prevent-default="" ng-click="vm.deleteEntry(item)" class="umb-era-button umb-button--s -red">Delete</a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <umb-pagination
                    page-number="vm.pagination.pageNumber"
                    total-pages="vm.pagination.totalPages"
                    on-next="vm.nextPage"
                    on-prev="vm.prevPage"
                    on-go-to-page="vm.goToPage">
                </umb-pagination>
                <hr />
             </div>       
        </umb-editor-container>
    </umb-editor-view>
    <umb-editor-footer>
        <umb-editor-footer-content-left>
        <umb-button action="vm.deleteSelected()"
                    type="button"
                    label="Delete selected" 
                    button-style="action">
        </umb-button>
                
        </umb-editor-footer-content-left>
        <umb-editor-footer-content-right>
            <label>Page size:</label>
            <select ng-model="vm.itemsPerPage" ng-change="vm.pageSizeChanged()">
                <option ng-repeat="option in vm.pageSizeOptions" value="{{option.value}}" ng-value="{{option.value}}" >{{option.value}}</option>
            </select>
        </umb-editor-footer-content-right>
    </umb-editor-footer>   
</div>