<div ng-controller="UrlTracker.DetailsController as vm">
	<form name="UrlTrackerEntryForm" ng-if="!vm.loading" ng-submit="vm.saveChanges()">
		<umb-editor-view>
			<umb-editor-header name="vm.title" name-locked="true" hide-alias="true" hide-description="true" hide-icon="true">
			</umb-editor-header>
			<umb-editor-container>
				<umb-box class="block-form">
					<umb-box-header title="Required"></umb-box-header>
					<umb-box-content>
						<!-- #region Root node -->
						<umb-control-group label="Root node" description="The root node defines for which domain this redirect is meant" required="true">
							<select ng-model="vm.entry.RedirectRootNodeId" ng-disabled="!vm.advancedView" ng-change="vm.updateLanguages()">
								<option ng-repeat="node in vm.rootNodes" ng-value="node.id">{{node.name}}</option>
							</select>
						</umb-control-group>
						<!-- #endregion -->
						<!-- #region Languages -->
						<umb-control-group label="Language" description="Define for which language this redirect is meant" required="true" ng-if="vm.languages.length > 1">
							<select ng-model="vm.entry.Culture" ng-disabled="!vm.advancedView">
								<option ng-repeat="language in vm.languages" ng-value="language.IsoCode">{{language.CultureName}}</option>
							</select>
						</umb-control-group>
						<!-- #endregion -->
						<!-- #region Old url/regex -->
						<umb-control-group label="Old Url" description="The URL path and query string, which you'd like to redirect">
							<input type="text" value="{{vm.entry.OldUrl}}" ng-model="vm.entry.OldUrl" ng-disabled="!vm.advancedView"/>
						</umb-control-group>
						<umb-control-group label="Regex" description="The input for Regex matching is the path AND query string, without leading slash." ng-if="vm.advancedView">
							<input type="text" value="{{vm.entry.OldRegex}}" ng-model="vm.entry.OldRegex" />
						</umb-control-group>
						<!-- #endregion -->
						<!-- #region Redirect node/url -->
						<umb-control-group label="Redirect node" description="The node to redirect to">
							<umb-node-preview icon="vm.entry.RedirectNodeIcon" name="vm.entry.RedirectNodeName" description="vm.entry.RedirectNodeUrl" sortable="false" allow-remove="true" on-remove="vm.removeRedirectNode()" on-open="vm.openNodePicker()" ng-if="vm.entry.RedirectNodeId != null"></umb-node-preview>
							<button type="button" class="umb-node-preview-add" ng-click="vm.openNodePicker()" ng-if="vm.entry.RedirectNodeId == null">
								Add...
							</button>
						</umb-control-group>
						<umb-control-group label="Redirect url" description='{{vm.advancedView ? "The URL to redirect to (you can use capturing groups backreferences when using Regex; $1, $2 etc.)" : "The URL to redirect to"}}'>
							<input type="text" value="{{vm.entry.RedirectUrl}}" ng-model="vm.entry.RedirectUrl" />
						</umb-control-group>
						<!-- #endregion -->
						<!--#region Redirect type-->

						<umb-control-group label="Redirect type" description="Permanent redirects will be cached by browsers and search engines will update old entries with the new URL" required="true">
							<label class="radio umb-form-check umb-form-check--radiobutton d-block" style="padding-top: 0;">
								<span class="umb-form-check__symbol">
									<input type="radio" ng-model="vm.entry.RedirectHttpCode" name="redirectHttpCode" value="301" class="umb-form-check__input" ng-class="{urltracker_radio_checked: vm.entry.RedirectHttpCode == 301}" ng-checked="vm.entry.RedirectHttpCode == 301">
									<span class="umb-form-check__state">
										<span class="umb-form-check__check"></span>
									</span>
								</span>
								<span class="umb-form-check__info">
									<span class="umb-form-check__text ng-binding ng-scope">Permanent (301)</span>
								</span>
							</label>
							<label class="radio umb-form-check umb-form-check--radiobutton d-block" style="padding-top: 0;">
								<span class="umb-form-check__symbol">
									<input type="radio" ng-model="vm.entry.RedirectHttpCode" name="redirectHttpCode" value="302" class="umb-form-check__input" ng-class="{urltracker_radio_checked: vm.entry.RedirectHttpCode == 302}" ng-checked="vm.entry.RedirectHttpCode == 302">
									<span class="umb-form-check__state">
										<span class="umb-form-check__check"></span>
									</span>
								</span>
								<span class="umb-form-check__info">
									<span class="umb-form-check__text ng-binding ng-scope">Temporary (302)</span>
								</span>
							</label>
						</umb-control-group>
						<!--#endregion-->
					</umb-box-content>
				</umb-box>

				<umb-box class="block-form">
					<umb-box-header title="Optional"></umb-box-header>
					<umb-box-content>
						<!-- #region Forward query string -->
						<umb-control-group label="Forward query string" description="When enabled, the query string of the original request is forwarded to the redirect location (pass through)">
							<umb-toggle checked="vm.entry.RedirectPassThroughQueryString"
										on-click="vm.entry.RedirectPassThroughQueryString = !vm.entry.RedirectPassThroughQueryString">
							</umb-toggle>
						</umb-control-group>
						<!-- #endregion -->
						<!-- #region Force redirect -->
						<umb-control-group label="Force redirect" description="When enabled, the UrlTracker will ALWAYS redirect, even if a valid page exists at the specified Old URL">
							<umb-toggle checked="vm.entry.ForceRedirect"
										on-click="vm.entry.ForceRedirect = !vm.entry.ForceRedirect">
							</umb-toggle>
						</umb-control-group>
						<!-- #endregion -->
						<!-- #region Remove 404 -->
						<umb-control-group label="Remove not found" description="When enabled, the related not found will be removed" ng-if="!vm.advancedView">
							<umb-toggle checked="vm.entry.remove404"
										on-click="vm.entry.remove404 = !vm.entry.remove404">
							</umb-toggle>
						</umb-control-group>
						<!-- #endregion -->
						<!-- #region Notes -->
						<umb-control-group label="Notes">
							<input type="text" value="{{vm.entry.Notes}}" ng-model="vm.entry.Notes" />
						</umb-control-group>
						<!-- #endregion -->
						<!-- #region Created -->
						<umb-control-group label="Created" ng-if="!vm.isNewEntry && vm.advancedView">
							{{vm.entry.Inserted | date: 'EEEE, dd LLLL yyyy HH:mm' : 'UTC'}}
						</umb-control-group>
						<!-- #endregion -->
					</umb-box-content>
				</umb-box>
			</umb-editor-container>
		</umb-editor-view>
		<umb-editor-footer>
			<umb-editor-footer-content-left>
				<!-- #region Close/submit -->
				<umb-button type="button"
				            button-style="link"
				            label-key="general_close"
				            shortcut="esc"
				            action="vm.close()">
				</umb-button>
				<umb-button type="submit"
				            button-style="action"
				            label-key="general_submit">
				</umb-button>
				<!-- #endregion -->
			</umb-editor-footer-content-left>
		</umb-editor-footer>
	</form>
</div>