<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4369e8d-f925-42bc-b634-7f079b5d1f41" Alias="multilingualTestPage" Level="1">
  <Info>
    <Name>Multilingual TestPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MultilingualTestPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ef8939e5-dff7-408d-8ea4-f7b31fb5d994">MultilingualTestPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e4369e8d-f925-42bc-b634-7f079b5d1f41" SortOrder="0">multilingualTestPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>