<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6aa6c0f3-f54d-4fad-b188-3d0b1a16a158" Alias="root" Level="1">
  <Info>
    <Name>Root</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Root</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f4e76af4-3204-426f-8d0b-fdbb501c9845">Root</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7cb24a0e-8fbb-4c4e-aa2c-9f51cce96ad7" SortOrder="0">testPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>