<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="760742b1-c6c9-4a8b-b5d2-270c6b33edb4" Alias="root" Level="1">
  <Info>
    <Name>Root</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Root</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7c4a77d8-f36d-403f-98cb-b1e783d8314e">Root</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cc207a4a-fa34-494f-8710-3cd1964e700d" SortOrder="0">testPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>