<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc207a4a-fa34-494f-8710-3cd1964e700d" Alias="testPage" Level="1">
  <Info>
    <Name>TestPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TestPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4b504125-1034-4c8a-9088-27f5d00243eb">TestPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cc207a4a-fa34-494f-8710-3cd1964e700d" SortOrder="0">testPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>