<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7cb24a0e-8fbb-4c4e-aa2c-9f51cce96ad7" Alias="testPage" Level="1">
  <Info>
    <Name>TestPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TestPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="53d0deef-498d-45d9-a1c9-8a1af8305d2e">TestPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7cb24a0e-8fbb-4c4e-aa2c-9f51cce96ad7" SortOrder="0">testPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>