<div ng-controller="UrlTracker.DetailsController as vm">
	<form name="UrlTrackerEntryForm">
		<umb-editor-view>
			<umb-editor-container>
				<umb-box class="block-form">
					<umb-box-header title="Required"></umb-box-header>
					<umb-box-content>
						<umb-control-group label="Root node" description="The root node defines for which domain this redirect is meant">
							<select ng-model="vm.entry.RedirectRootNodeId">
								<option ng-repeat="node in vm.allRootNodes" value="{{node.id}}" ng-value="{{node.id}}">{{node.name}}</option>
							</select>
						</umb-control-group>
						<umb-control-group label="Old Url" description="The URL path and query string, which you'd like to redirect">
							<input type="text" value="{{vm.entry.OldUrl}}" ng-model="vm.entry.OldUrl" />
						</umb-control-group>
						<umb-control-group label="Or Regex" description="The input for Regex matching is the path AND query string, without leading slash.">
							<input type="text" value="{{vm.entry.OldRegex}}" ng-model="vm.entry.OldRegex" />
						</umb-control-group>
						<umb-control-group label="Old Url query string" description="The query string to match">
							<input type="text" value="{{vm.entry.OldUrlQueryString}}" ng-model="vm.entry.OldUrlQueryString" />
						</umb-control-group>
						<umb-control-group label="Redirect node" description="The node to redirect to">
							<a href="" ng-if="vm.redirectNode != null" ng-click="vm.openNodePicker()">{{vm.redirectNode}} </a>
							<a href="" ng-if="vm.redirectNode == null" ng-click="vm.openNodePicker()"> pick a node</a>
						</umb-control-group>
						<umb-control-group label="Redirect url" description="The URL to redirect to (you can use capturing groups backreferences when using Regex; $1, $2 etc.)">
							<input type="text" value="{{vm.entry.RedirectUrl}}" ng-model="vm.entry.RedirectUrl" />
						</umb-control-group>
					</umb-box-content>
				</umb-box>

				<umb-box class="block-form">
					<umb-box-header title="Optional"></umb-box-header>
					<umb-box-content>
						<umb-control-group label="Redirect type" description="Permanent redirects will be cached by browsers and search engines will update old entries with the new URL">
							{{vm.entry.RedirectHttpCode}}
							<umb-radiobutton input-id="test1"
											 name="radiobuttonlist"
											 value="301"
											 model="vm.entry.RedirectHttpCode"
											 text="Permanent (301)">
							</umb-radiobutton>

							<umb-radiobutton name="radiobuttonlist"
											 checked="true"
											 input-id="test2"
											 value="302"
											 model="vm.entry.RedirectHttpCode"
											 text="Temporary (302)"
											 ngChecked="true">
							</umb-radiobutton>

							<!--<umb-radiobutton name="redirectHttpCode"
						 value="302"
						 text="Temporary (302)">
	</umb-radiobutton>-->
						</umb-control-group>
						<umb-control-group label="Forward query string" description="When enabled, the query string of the original request is forwarded to the redirect location (pass through)">
							<umb-toggle checked="vm.entry.RedirectPassThroughQueryString"
										on-click="vm.entry.RedirectPassThroughQueryString = !vm.entry.RedirectPassThroughQueryString">
							</umb-toggle>
						</umb-control-group>
						<umb-control-group label="Force redirect" description="When enabled, the UrlTracker will ALLWAYS redirect, even if a valid page exists at the specified Old URL">
							<umb-toggle checked="vm.entry.ForceRedirect"
										on-click="vm.entry.ForceRedirect = !vm.entry.ForceRedirect">
							</umb-toggle>
						</umb-control-group>
						<umb-control-group label="Notes">
							<input type="text" value="{{vm.entry.Notes}}" ng-model="vm.entry.Notes" />
						</umb-control-group>
						<umb-control-group label="Created">
							{{vm.entry.Inserted}}
						</umb-control-group>
					</umb-box-content>
				</umb-box>
			</umb-editor-container>
		</umb-editor-view>
	</form>
	<umb-editor-footer>
		<umb-editor-footer-content-left>
			<umb-button type="button"
						button-style="link"
						label-key="general_close"
						shortcut="esc"
						action="vm.close()">
			</umb-button>
			<umb-button type="button"
						button-style="action"
						label-key="general_submit"
						action="vm.saveChanges()">
			</umb-button>
		</umb-editor-footer-content-left>
	</umb-editor-footer>
</div>