<?xml version="1.0" encoding="utf-8"?>
<Content Key="98649961-ed4e-439b-bf40-e1b24a1f5759" Alias="ipsum" Level="2">
  <Info>
    <Parent Key="bb7301ab-a611-472c-86ad-8ba43e588a5a">root</Parent>
    <Path>/root/ipsum</Path>
    <Trashed>false</Trashed>
    <ContentType>testPage</ContentType>
    <CreateDate>2022-03-31T11:05:19</CreateDate>
    <NodeName Default="ipsum" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b504125-1034-4c8a-9088-27f5d00243eb">TestPage</Template>
  </Info>
  <Properties />
</Content>