<?xml version="1.0" encoding="utf-8"?>
<Content Key="71ee52b2-a721-40f2-99ac-6f00d8b1e969" Alias="ipsum" Level="2">
  <Info>
    <Parent Key="6905c57d-c0d0-4cbb-96fb-545e9f3b041b">root</Parent>
    <Path>/root/ipsum</Path>
    <Trashed>false</Trashed>
    <ContentType>testPage</ContentType>
    <CreateDate>2022-07-01T09:07:35</CreateDate>
    <NodeName Default="ipsum" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b504125-1034-4c8a-9088-27f5d00243eb">TestPage</Template>
  </Info>
  <Properties />
</Content>