<?xml version="1.0" encoding="utf-8"?>
<Content Key="f44026af-5f4a-4e0e-8c96-9748de758686" Alias="ipsum" Level="2">
  <Info>
    <Parent Key="59726a7c-f363-466d-b452-edc0473a4f23">root</Parent>
    <Path>/root/ipsum</Path>
    <Trashed>false</Trashed>
    <ContentType>testPage</ContentType>
    <CreateDate>2022-07-02T13:04:26</CreateDate>
    <NodeName Default="ipsum" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="53d0deef-498d-45d9-a1c9-8a1af8305d2e">TestPage</Template>
  </Info>
  <Properties />
</Content>