<?xml version="1.0" encoding="utf-8"?>
<Content Key="652c0431-70b8-4a18-9718-5d9d5750f0cd" Alias="lorem" Level="2">
  <Info>
    <Parent Key="60d88059-8c91-4dac-b975-4c1045528e78">root</Parent>
    <Path>/root/lorem</Path>
    <Trashed>false</Trashed>
    <ContentType>testPage</ContentType>
    <CreateDate>2022-03-07T18:47:59</CreateDate>
    <NodeName Default="lorem" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b504125-1034-4c8a-9088-27f5d00243eb">TestPage</Template>
  </Info>
  <Properties />
</Content>