<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe752c96-ebb1-4dfe-bd6f-1cd374f9716a" Alias="lorem" Level="2">
  <Info>
    <Parent Key="8a5b201f-658c-485e-9281-77fd046d36dd">root</Parent>
    <Path>/root/lorem</Path>
    <Trashed>false</Trashed>
    <ContentType>testPage</ContentType>
    <CreateDate>2022-03-07T19:15:37</CreateDate>
    <NodeName Default="lorem" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b504125-1034-4c8a-9088-27f5d00243eb">TestPage</Template>
  </Info>
  <Properties />
</Content>