<?xml version="1.0" encoding="utf-8"?>
<Content Key="9eaf0283-2a3b-4d67-a090-e999a609bcdd" Alias="lorem" Level="2">
  <Info>
    <Parent Key="59726a7c-f363-466d-b452-edc0473a4f23">root</Parent>
    <Path>/root/lorem</Path>
    <Trashed>false</Trashed>
    <ContentType>testPage</ContentType>
    <CreateDate>2022-07-02T13:04:26</CreateDate>
    <NodeName Default="lorem" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="53d0deef-498d-45d9-a1c9-8a1af8305d2e">TestPage</Template>
  </Info>
  <Properties />
</Content>