<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe2023eb-0804-4407-8125-0601de893291" Alias="ml lorem" Level="2">
  <Info>
    <Parent Key="74cca456-43e8-43e9-b32a-bbff07508ab9">ml root</Parent>
    <Path>/mlRoot/mlLorem</Path>
    <Trashed>false</Trashed>
    <ContentType>multilingualTestPage</ContentType>
    <CreateDate>2022-07-01T19:05:40</CreateDate>
    <NodeName Default="ml lorem">
      <Name Culture="en-us">ml lorem</Name>
      <Name Culture="nl-nl">mt lorem</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="ef8939e5-dff7-408d-8ea4-f7b31fb5d994">MultilingualTestPage</Template>
  </Info>
  <Properties />
</Content>