<?xml version="1.0" encoding="utf-8"?>
<Content Key="74cca456-43e8-43e9-b32a-bbff07508ab9" Alias="ml root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mlRoot</Path>
    <Trashed>false</Trashed>
    <ContentType>multilingualRoot</ContentType>
    <CreateDate>2022-07-01T16:44:05</CreateDate>
    <NodeName Default="ml root">
      <Name Culture="en-us">ml root</Name>
      <Name Culture="nl-nl">mt root</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="5443eb9a-7f7d-4bc9-8810-e060e3c66e18">MultilingualRoot</Template>
  </Info>
  <Properties />
</Content>