<?xml version="1.0" encoding="utf-8"?>
<Content Key="59726a7c-f363-466d-b452-edc0473a4f23" Alias="root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/root</Path>
    <Trashed>false</Trashed>
    <ContentType>root</ContentType>
    <CreateDate>2022-07-02T13:04:26</CreateDate>
    <NodeName Default="root" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f4e76af4-3204-426f-8d0b-fdbb501c9845">Root</Template>
  </Info>
  <Properties />
</Content>