<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a5b201f-658c-485e-9281-77fd046d36dd" Alias="root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/root</Path>
    <Trashed>false</Trashed>
    <ContentType>root</ContentType>
    <CreateDate>2022-03-07T19:15:37</CreateDate>
    <NodeName Default="root" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7c4a77d8-f36d-403f-98cb-b1e783d8314e">Root</Template>
  </Info>
  <Properties />
</Content>