<?xml version="1.0" encoding="utf-8"?>
<Domain Key="a769b71e-0000-0000-0000-000000000000" Alias="localhost:44328">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="59726a7c-f363-466d-b452-edc0473a4f23">/root</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>