<div ng-controller="UrlTracker.ImportExportOverlayController as vm">
	<div>
		<a ng-if="vm.mode" ng-click="vm.back()">< Back</a>
		<h4 ng-if="vm.title" class="urltracker-import-export-title">{{vm.title}}</h4>
	</div>

	<ul class="umb-card-grid -two-in-row" ng-if="!vm.mode">
		<li>
			<button class="umb-card-grid-item btn-reset" ng-click="vm.importRedirects()">
				<span>
					<i class="icon-arrow-down large"></i>
					Import
				</span>
			</button>
		</li>
		<li>
			<button class="umb-card-grid-item btn-reset" ng-click="vm.exportRedirects()">
				<span>
					<i class="icon-arrow-up large"></i>

					Export
				</span>
			</button>
		</li>
	</ul>

	<div class="urltracker-import" ng-if="vm.mode == 'import'">
		<p class="mb-3">
			choose a .csv file filled with redirects.
		</p>
		<button ngf-select ng-model="vm.file" ngf-accept="'.csv'" ng-disabled="vm.fileInputDisabled" type="button" class="umb-node-preview-add urltracker-import-file">
			<span ng-if="!vm.file">choose a .csv file...</span>
			<span ng-if="vm.file">
				<i class="icon-document"></i>
				{{vm.file.name}}
			</span>
		</button>
		<button ng-if="vm.file" ng-click="vm.submitImport()" class="btn btn-primary urltracker-submit-import ic-color">
			import <i class="icon icon-arrow-down"></i>
		</button>
		<div ng-if="vm.import.loading" class="urltracker-loading-ring"><div></div><div></div><div></div><div></div></div>
	</div>
</div>