<?xml version="1.0" encoding="utf-8"?>
<uSync>
  <BackOffice>
    <Folder>~/uSync/v8/</Folder>
    <FlatFolders>True</FlatFolders>
    <ImportAtStartup>False</ImportAtStartup>
    <ExportAtStartup>False</ExportAtStartup>
    <ExportOnSave>False</ExportOnSave>
    <UseGuidFilenames>False</UseGuidFilenames>
    <BatchSave>False</BatchSave>
    <!-- calls a rebuild cache when an import completes
        (for Umbraco 8.3+ recommended value is false)  -->
    <RebuildCacheOnCompletion>False</RebuildCacheOnCompletion>
    <!-- handler sets -->
    <HandlerSets Default="default">
      <Handlers Name="default">
        <Handler Alias="dataTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="languageHandler" Enabled="true" Actions="All" />
        <Handler Alias="macroHandler" Enabled="true" Actions="All" />
        <Handler Alias="mediaTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="memberTypeHandler" Enabled="false" Actions="All" />
        <Handler Alias="templateHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentTypeHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentHandler" Enabled="true" Actions="All" />
        <Handler Alias="contentTemplateHandler" Enabled="true" Actions="All" />
        <Handler Alias="dictionaryHandler" Enabled="true" Actions="All" />
        <Handler Alias="domainHandler" Enabled="true" Actions="All" />
        <Handler Alias="mediaHandler" Enabled="true" Actions="All" />
        <Handler Alias="relationTypeHandler" Enabled="false" Actions="All" />
      </Handlers>
    </HandlerSets>
    <!-- custom mappings to things that are already in umbraco -->
    <!-- if you content is stored exactly like it is in an existing 
		     propertyEditor, you can map to it here. -->
    <!-- 
		<Mappings>
			<Add Key="MyCustomUrlPicker" Value="Umbraco.MultiUrlPicker" />
		</Mappings>
		-->
    <!-- defaults settings that can be used across all handlers -->
    <!-- 
		<HandlerDefaults>
			<Add Key="NoRemove" Value="true" />
			<Add Key="CreateOnly" Value="true" />
		</HandlerDefaults>
		-->
    <ReportDebug>False</ReportDebug>
    <FailOnMissingParent>True</FailOnMissingParent>
    <ShowVersionCheckWarning>True</ShowVersionCheckWarning>
    <EnableHistory>False</EnableHistory>
  </BackOffice>
</uSync>